// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#app {
  height: 100%;
  position: relative;
  .weui-tab {
    position: static;
    height: auto;
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pages-training {
  .weui-grid__icon {
    width: 40px;
    height: 40px;
  }

  .weui-footer, .weui-grid__label {
    font-size: 14px;
  }

  .weui-grid__icon + .weui-grid__label {
    margin-bottom: 0;
  }
}

.weui-tabbar__label {
  margin-bottom: 0;
}

.router-link-active {
  .weui-tabbar__label {
    color: #007bff;
  }
}

